<div class="ui segment">
    <div class="ui statistics four">
        <div class="statistic"></div>
        <div class="statistic">
            <div class="text value">
                13:19<br>
                14/04/2023
            </div>
            <div class="label">
                First Seen
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                13:19<br>
                14/04/2023
            </div>
            <div class="label">
                Last Seen
            </div>
        </div>
        <div class="statistic"></div>
    </div>
</div>